/* 
*
* Easy front-end framework
*
* Copyright (c) 2011 Alen Grakalic
* http://easyframework.com/license.php
*
* supported by Templatica (http://templatica.com)
* and Css Globe (http://cssglobe.com)
*
*/

/* HTML elements  */		

	html, body{margin:0;padding:0;}
	h1, h2, h3, h4, h5, h6{
		font-weight:normal;
		margin:0;
		line-height:1em;
		}	
	h1{font-size:2em;margin-bottom:.5em;}	
	h2{font-size:1.75em;margin-bottom:.5142em;padding-top:.2em;}	
	h3{font-size:1.5em;margin-bottom:.7em;padding-top:.3em;}
	h4{font-size:1.25em;margin-bottom:.6em;}
	h5,h6{font-size:1em;margin-bottom:.5em;font-weight:bold;}
			
		p, blockquote, ul, ol, dl, form, table, pre{display:block;line-height:inherit;margin:0 0 1.5em 0;}
	article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{display:block;}
	ul, ol, dl{padding:0;}
	ul ul, ul ol, ol ol, ol ul, dd{margin:0;}
	li{margin:0 0 0 2em;padding:0;display:list-item;list-style-position:outside;}	
	blockquote, dd{padding:0 0 0 2em;}
	pre, code, samp, kbd, var{font:100% mono-space,monospace;}
	pre{overflow:auto;}
	abbr, acronym{
		text-transform:uppercase;
		border-bottom:1px dotted #000;
		letter-spacing:1px;
		}
	abbr[title], acronym[title]{cursor:help;}
	small{font-size:.9em;}
	sup, sub{font-size:.8em;}
	em, cite, q{font-style:italic;}
	img{border:none;}			
	hr{display:block;height:1px;border:0;border-top:1px solid #2C606C;margin:0 0 1.5em 0;padding:0;}	
	table{width:100%;border-collapse:collapse;}
	th,caption{text-align:left;}
	form{display:none;}

/* //  HTML elements */	

/* common */		
	
	.left{float:left;margin-right:1em;}
	.right{float:right;margin-left:1em;}
	.center{text-align:center;}
	
	.clear{clear:both;}
	.first{margin-left:0 !important;}
	.last{margin-right:0 !important;}
	.top{margin-top:0 !important;}
	.bottom{margin-bottom:0 !important;}	
	.hidden, .graphic{display:none;}

/* // common */			

/* base */
	
	body, table, input, textarea, select, li, button{
		font:100% Helvetica, Arial, Sans-Serif;
		line-height:180%;
		color:#000;
		}		
	body{
		font-size:13px;
		background:#fff;
		margin:0;
		padding:0;
		}	
	a{
		text-decoration:none;
		color:#555;
		}
	ins{text-decoration:none;color:#900;font-style:italic;}
	code{color:#555;}
	pre{
		margin-left:2em;
		padding-left:2em;
		border-left:1px solid #ccc;
		}
	blockquote{
		margin-left:2em;
		border-left:1px solid #ccc;
		font-style:italic;
		}	
	dt{font-weight:bold;}
	th, td{padding:8px;}		
	th{background:#eee;}
	td{border-bottom:1px solid #eee;}
	caption{font-style:italic;color:#777;margin:.5em 0;}	

	.note{font-weight:bold;}
	
/* base */

/* misc */

	#container{}
	.inner{}
	#header{
		margin-bottom:1em;
		border-bottom:1px solid #ccc;
		padding-bottom:1em;
		}	
	.content{}
	.main, .secondary, .tertiary, .quaternary{}
	.main{}
	.secondary{}
	.tertiary{}
	.quaternary{}
	#footer{
		margin-top:1em;
		border-top:1px solid #2C606C;
		padding-top:1em;
		position:relative;
		clear:both;
		}
	
	#nav, .nav{display:none;}	
	
	#header h1{
		line-height:50px;
		height:50px;
		margin:0;
		}
	#header h1 a{}		

/* // misc */
	
/* clearfix */

	.inner:after, .content:after, .cols:after, .fixed:after{
		content:"."; 
		display:block; 
		height:0; 
		clear:both; 
		visibility:hidden;
		}
	.inner, .content, .cols, .fixed{display:block;min-height:1%;}
	* html .inner, * html .content, * html .cols, * html .fixed{height:1%;}

/* // clearfix */