body{
	font-family : arial;
	margin-left : 4px;
	background-color:#ECECFF;
}
.textmnt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
}

.titulos{
	font-size:14px;	
}

#thtitulo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#0000A4;
	background-color:#D5D5FF;
	background-image:url('/otas/images/th.jpg');
	font-weight:bold;
}
#thtitulo2{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#0000A4;
	background-color:#D5D5FF;
	background-image:url('/otas/images/th.jpg');
	font-weight:bold;
}
td{
	font-size:11px;
}
.tdbusca{
	font-size:14px;
	text-align:center;
}
.titulo{
	font-size:16px;
	font-weight:bold;
}
a:hover{
	font-weight:bold;
}
a{
	color:0000A4;
}
input{
	border:#06F solid 1px;
}
.tdedita{
	font-size:14px;
}
.tddetalle{
	font-size:14px;
	font-weight:bold;
}
.tdmuestra{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}
.bienvenido{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
}
.nombreusuario{
	font-size:16px;
	font-weight:bold;
}
.input_sin{
	border:none;
}

.informacion{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#FFF;
}
.cerrado{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#F00;
	font-weight:bold
}
.info{
	font-family:Verdana, Geneva, sans-serif;
	font-size:8px;
	color: #000;
}
.dvpdf{
	font-size:14px;
}

.imgBtn{
	cursor:pointer;
}


div.divlista{
	width:600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mainstream{
	margin:0 auto;
	width: 600;
	border: #BBBBFF solid 2px;
	background: #FFFFFF;
}
.mainstream tr{
	vertical-align: baseline;
}
.mainstream th{
	font-family: arial;
	text-align: left;
	margin-left: 2px;
	background: #D5D5FF;
	font-weight: normal;
	font-size: 11px;
	color:#000000;
}


table.mainstream td{
	 padding: 1px;
}

table.mainstream2{
	border: #BBBBFF solid 2px;
	width: 100%;
	border-spacing: 1px;
	border-collapse: separate;
	text-align: center;
}
/*estas weas van en las tablas de filtros y lo hace todo...*/
#filtros{
	background: #D5D5FF;
	border-spacing: 1px;
	border-collapse: separate;
	text-align: center;
	width: 100%;
}
#filtros td{
	font-size:14px;
	text-align:center;
}
#filtros button{
	width:80px;
	height:27px;
}

.colorme tr{
	vertical-align: baseline;
}
.colorme tr:hover{
	background: #0066FF;
	color:#FFF;
}

/*LISTA DE SHITIES*/
.listaBoni{
	border: 1px solid #BBBBFF;
	background: #FFFFFF;
	text-align: center;
	width: 100%;
	border-collapse: separate;
	font-size: 11px;
}
.listaBoni tbody tr:hover{
	background: #0066FF;
	color:#FFF;
}
.listaBoni tr{
	border: #000000 solid 1px ;
}
.listaBoni th{
	border: #BBBBFF solid 1px ;
	background: #D5D5FF;
	color:#0000A4;
	border-collapse: separate;
}

.listaBoni td{
	border: #BBBBFF solid 1px ;
	border-collapse: separate;
}
.activo{
	font-size:12px;
	color:#4CAF50;
	font-weight:bold;
}
.inactivo{
	font-size:12px;
	color:#f44336;
	font-weight:bold;	
}




/*BOTONES PARA ESTADOS*/

.btnEstados{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}


.btnInactivo:hover{
    background-color: #fd9f98; 
    color: black; 
    border: 1px solid #f44336;
}

.btnInactivo{
    background-color: #f44336;
    color: white;
}


.btnActivo:hover{
    background-color: #80bf83; 
    color: black; 
    border: 1px solid #4CAF50;
}

.btnActivo{
    background-color: #4CAF50;
    color: white;
}



